<div class="page">
<div class="all">
<header class="header">
	<ul>
		<li><a href="https://applicant.checkr.com/">I Am an Applicant</a></li>
		<li><a href="https://docs.checkr.com/"> API & Docs</a></li>
		<li><a href="https://checkr.com/about/"> About Us</a></li>
		<li><a href="https://checkr.com/careers/"> Careers</a></li>
	</ul>
</header>

<nav class="titre">
	<ul>
		<li><a href="#"><h1>Checkr</h1></a></li>
		<li><div class="dropdown">
    			<button class="dropbtn">PRODUCT▼ 
      				<i class="fa fa-caret-down"></i>
    			</button>
    			<div class="dropdown-content">
      				<a href="https://checkr.com/product/">Overview</a>
      				<a href="https://checkr.com/product/screenings/">Screening</a>
     				<a href="https://checkr.com/product/compliance/">Compliance</a>
     				<a href="#">Security</a>
    			</div>
  			</div> 
		</li>
		<li><div class="dropdown">
    			<button class="dropbtn">STAFFING▼ 
      				<i class="fa fa-caret-down"></i>
    			</button>
    			<div class="dropdown-content">
      				<a href="#">Overview</a>
    			</div>
  			</div> 
		</li>
		<li><div class="dropdown">
    			<button class="dropbtn">INDUSTRIES▼ 
      				<i class="fa fa-caret-down"></i>
    			</button>
    			<div class="dropdown-content">
      				<a href="#">Overview</a>			<a href="">Staffing</a>
      				<a href="#">Contact Centers</a>		<a href="">Financial Service</a>
					<a href="#">Retail & Hospitality</a><a href="">Healthcare</a>
					<a href="#">Non-Profit</a>			<a href="">On-Demande Economy</a>
					<a href="#">Manufacturing</a>		<a href="">Software & Technology</a>
					<a href="#">Small Business</a>		<a href="">P2P Marketplaces</a>
				</div>
  			</div>
		</li>
		<li><div class="dropdown">
    			<button class="dropbtn">RESOURCES▼ 
      				<i class="fa fa-caret-down"></i>
    			</button>
    			<div class="dropdown-content">
      				<a href="#">Overview </a>
      				<a href="#">Guides & White Papers</a>
     				<a href="#">FAQ</a>
    			</div>
  			</div>
		</li>
		<li><a href="#">COMPLIANCE</a></li>
	</ul>
	<ul>
		<li><a href="https://dashboard.checkr.com/login?next=%2Freports">LOG IN</a></li>
		<li><a href="https://checkr.com/get-started" class="button1">GET STARTED 🡒</a></li>
	</ul>
</nav>

<article class="sectionl">
	<h1>Hire great people.<br/> Faster.</h1>
	<p> Checkr provides modern and compliant background <br/>checks for global enterprises and startups.</p><br/>
	<a href="http://checkr.com/product/" class="button2">EXPLORE NOW 🡒</a>
</article>
<aside class="aside sectionr">
	<div><%= image_tag 'Checkr_Hero.jpg', width: 400 %>
</div>
</aside>
</div>
</div>