<div class="flynnp">
	<nav class="fheader">
		<p>LOGO</p>
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Docs</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Princing</a></li>
			<li><a href="#">Try</a></li>
		</ul>
	</nav>

	<section class="ftop">
		<h1>Throw away the duct tape.
Say hello to Flynn. </h1>
		<div><%= image_tag 'flyn.jpg', width: 800 %></div>
	</section>
	
	<nav class="navmid">
		<ul>
			<li><a href="#">Apps</a></li>
			<li><a href="#">Manage</a></li>
			<li><a href="#">Database</a></li>
		</ul>
	</nav>

	<section class="section1">
		<h1>Powerful and easy. The way it should be.</h1>

	</section>

</div>
