
<h1>Bonjour! pour aller voir des pages pas du tout stylay c'est par ici!</h1>

Tu peux cliquer ici pour <%= link_to "la page de checkr", '/home/checkr', class: "button1" %> où bien là pour
<%= link_to  "la page de flynn", '/home/flynn', class: "button1" %>
