.flynnp {
  padding:  0 20%;
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  font-family: "League Spartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flynnp > * {
  padding: 10px;
  flex: 1 100%;
}

.flynnp p, .flynnp a
{
  text-decoration: none;
  font-weight: bold;
  color: #1bb45e;
}

nav.fheader {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
  padding: 0 30px;      /* marge intérieure */
  font-weight: bold;
  color: #1bb45e;
}

nav.fheader ul
 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav.fheader li
{
  margin-left: 23px;
}
nav.fheader li:hover 
{
      border: transparent;
      border-width: 5%;
      background-color: #C2C2C2;
      color: white;
      padding-top: 25px
}


nav.navmid {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 13px;
  padding: 0 30px;      /* marge intérieure */
}

nav.navmid ul
 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav.navmid li
{
  margin-left: 23px;
}

a.btntry {
  color: white;
  margin: 15px 15px 0 20px;
  display: inline-block;
  border: 10px solid #28B361;
  background-color: #28B361;
  border-radius: 25px;
  padding: 5px 15px 5px 15px;
  font-size:18px;
  font-weight: 800;
  }

